body{
    background-color: rgba(247, 247, 247, 0.906);
    margin-top: 10%;
    margin-left: 5%;
}
h3{
    font-size: 500%;
    text-align: center;
    color: rgb(214, 15, 32);
    
}
h4{
    color: rgb(45, 9, 39);
    font-size: 300%;
    text-align: center;
}